<div class="support-menu fixed-top">
  <div class="container">
    <div class="col-md-8">
      Người dùng
      <span class="glyphicon glyphicon-chevron-right"></span>
      Cập nhật thông tin
    </div>
    <div class="col-md-4">
      <div class="add-post pull-right"><a href="<%= new_post_path %>">Đăng bài</a></div>
    </div>
  </div>
</div>
<section class="main-body">
<div class="container">
<div class="col-md-10 box col-sm-offset-1">
  <div class="col-md-5">
    <%= form_for @profile,url: profiles_path, :html => { :multipart => true } do |f| %>
  <div class="form-group">
    <label>Họ tên *</label>
    <%= f.text_field :name, required: true, class: "form-control", placeholder: "Họ tên" %>
    <%= f.error_message_on :name %>
  </div>

  <div class="form-group">
    <label>Giới tính *</label>
    <%= f.select(:male, options_for_select([["Nam","Nam"], ["Nữ","Nữ"]]),{},{class: "form-control"})%>
    <%= f.error_message_on :male %>
  </div>
  <div class="form-group date" >
    <label>Ngày sinh *</label>
    <div class="input-group">
      <%= f.text_field :date_of_birth, required: true, class: "form-control datepicker" ,id: "datepicker",  placeholder: "Ngày sinh" %>
      <%= f.error_message_on :date_of_birth %>
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label>Địa chỉ *</label>
    <%= f.text_field :address, required: true, class: "form-control", placeholder: "Địa chỉ" %>
    <%= f.error_message_on :address %>
  </div>

</div>

<div class="col-md-5 col-sm-offset-2">
  <div class="form-group">
    <label>Số điện thoại *</label>
    <%= f.text_field :phone, required: true, class: "form-control", placeholder: "Số điện thoại" %>
    <%= f.error_message_on :phone %>
  </div>
  <div class="form-group">
    <label>Số CMND *</label>
    <%= f.text_field :identity_card, required: true, class: "form-control", placeholder: "Số CMND" %>
    <%= f.error_message_on :identity_card %>
  </div>
  <div class="form-group">
    <div class="col-md-6">
      <label>Ảnh đại diện</label>
    <%= f.file_field :avatar, onchange: "readURL(this);"%>
    <%= f.error_message_on :avatar %>
    </div>
    <div class="col-md-4 pull-right" style="margin-top: 10px;">
      <img id="img_prev" src="#" alt="your image" />
    </div>

  </div>
  <div class="form-group" style="margin-top: 125px;">
    <button type="submit" class="btn btn-vip col-md-12">Cập nhật</button>
  </div>
<% end %>
</div>
</div>
</div>
</section>
