<div class="support-menu fixed-top">
  <div class="container">
    <div class="col-md-8">
      Người dùng
      <span class="glyphicon glyphicon-chevron-right"></span>
      Thông tin cá nhân
    </div>
    <div class="col-md-4">
      <div class="add-post pull-right"><a href="<%= new_payment_path %>">Nạp tiền</a></div>
    </div>
  </div>
</div>
<section class="main-body">
<div class="container">
<div class="title-box">
  <h4>Thông tin người dùng</h4>
</div>
<div class="col-md-12">
<div class="col-md-12 box">
  <!-- <div class="title"><h3>Thông tin cá nhân</h3></div> -->
  <div class="col-md-5">
    <%= image_tag @profile.avatar.url(:medium) %>
  </div>
  <div class="col-md-7 show-profile">
    <table class="col-md-12">
    <tr>
      <th class="col-md-3">Họ tên</th>
      <td><%=@profile.name %></td>
    </tr>
    <tr>
      <th class="col-md-3">Giới tính</th>
      <td><%=@profile.male %></td>
    </tr>
    <tr>
      <th class="col-md-3">Ngày sinh</th>
      <td><%=@profile.date_of_birth.strftime("%d/%m/%Y") %></td>
    </tr>
    <tr>
      <th class="col-md-3">Địa chỉ</th>
      <td><%=@profile.address %></td>
    </tr>
    <tr>
      <th class="col-md-3">Số điện thoại</th>
      <td><%=@profile.phone %></td>
    </tr>
    <tr>
      <th class="col-md-3">Số CMND</th>
      <td><%=@profile.identity_card %></td>
    </tr>
    <tr>
      <th class="col-md-5">Điểm</th>
      <td><%= @profile.user.sum_score%></td>
    </tr>
    <tr>
      <th class="col-md-5">Tiền</th>
      <td><%= number_with_delimiter(@profile.money) + " vnđ"%></td>
    </tr>
  </table>
  </div>
  <div class="col-md-12">
      <div class="pull-right">
        <a href="<%= edit_profile_path(@profile.id) %>" class="btn btn-info">Chỉnh sửa</a>
      </div>
  </div>
</div>
</div>
<div class="title-box">
  <h4>Lịch sử thanh toán</h4>
</div>
<% @profile.user.payments.each do |payment| %>
<div class="col-md-6 payment-item" >
  <div class="user-bid" style="padding: 30px 10px;">
    <div class="col-md-10">
      <%= method_payment(payment) %> - <span class="gray-show"><%= payment.created_at.strftime("%d/%m/%Y")%></span>
    </div>
    <div class="col-md-2 ">
      <a href="javascript:;" class="red pull-right delete-payment" data-target="<%= payment.id %>">Xóa</a>
    </div>
    <p>
    <div class="col-md-12">
      Số tiền: <span class="blue-show"><%= number_with_delimiter(payment.money) %> vnđ</span>
    </div>
    </p>
  </div>
</div>
<% end %>

</div>
</section>
