<html xmlns="http://www.w3.org/1999/xhtml" style="box-sizing: border-box;font-size: 14px;margin: 0;">
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="assets/images/favicon.png" type="image/png" sizes="16x16">
    <title>Confirm Email</title>


    <style type="text/css">
        body {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400;
            display: block;
            background: #f2f3f8;
        }

        @font-face {
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNOAHFN6BivSraYkjhveRHY.woff2) format('woff2');
            unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
        }
        @font-face {
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlC2Q8seG17bfDXYR_jUsrzg.woff2) format('woff2');
            unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
        }
        @font-face {
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
        }
        img {
            max-width: 100%;
        }
        body {
            -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em;
        }
        body {
            background-color: #f6f6f6;
        }
        @media only screen and (max-width: 640px) {
            body {
                padding: 0 !important;
            }
            h1 {
                font-weight: 800 !important; margin: 20px 0 5px !important;
            }
            h2 {
                font-weight: 800 !important; margin: 20px 0 5px !important;
            }
            h3 {
                font-weight: 800 !important; margin: 20px 0 5px !important;
            }
            h4 {
                font-weight: 800 !important; margin: 20px 0 5px !important;
            }
            h1 {
                font-size: 22px !important;
            }
            h2 {
                font-size: 18px !important;
            }
            h3 {
                font-size: 16px !important;
            }
            .container {
                padding: 0 !important; width: 100% !important;
            }
            .content {
                padding: 0 !important;
            }
            .content-wrap {
                padding: 10px !important;
            }
            .invoice {
                width: 100% !important;
            }

        }
        a{
            text-decoration: none;
            color: #2e6da4;
        }
        a:hover{
            color: #ff6711;
        }
    </style>
</head>

<body style="box-sizing: border-box;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;width: 100% !important;height: 100%;line-height: 1.6em;background-color: #f6f6f6;margin: 0;" bgcolor="#f6f6f6">

    <table class="body-wrap" style="box-sizing: border-box;font-size: 16px;width: 100%;background-color: #f6f6f6;margin: 0;" bgcolor="#f6f6f6">
        <tbody>
            <tr style="box-sizing: border-box;margin: 0;">
                <td style="box-sizing: border-box;vertical-align: top;margin: 0;" valign="top"></td>
                <td class="container" style="box-sizing: border-box;vertical-align: top;display: block !important;max-width: 700px !important;clear: both !important;margin: 0 auto;" valign="top">
                    <div class="content" style="box-sizing: border-box;max-width: 100%;display: block;margin: 0 auto;padding: 20px;">
                        <table class="main" width="100%" cellpadding="0" cellspacing="0" style="box-sizing: border-box;font-size: 16px;border-radius: 3px;background-color: #fff;margin: 0;border: 1px solid #e9e9e9;" bgcolor="#fff">
                            <tbody>
                                <tr style="box-sizing: border-box;margin: 0;">
                                    <td class="alert alert-warning" style="box-sizing: border-box;font-size: 20px;font-weight:bold;vertical-align: top;color: #fff;text-align: center;border-radius: 3px 3px 0 0;background-color: #293541;margin: 0;padding: 20px;height: 100px;line-height: 100px;" align="center" bgcolor="#FF9F00" valign="top">

                                        <span style="font-size: 50px;">SHIPPER</span>
                                    </td>
                                </tr>
                                <tr style="box-sizing: border-box;margin: 0;">
                                    <td class="content-wrap" style="box-sizing: border-box;vertical-align: top;margin: 0;padding: 20px;" valign="top">
                                        <table width="100%" cellpadding="0" cellspacing="0" style="box-sizing: border-box;margin: 0;">
                                            <tbody>
                                                <tr style="box-sizing: border-box;margin: 0;">
                                                    <td class="content-block" style="box-sizing: border-box;font-size: 16px;vertical-align: top;margin: 0;padding: 0 0 20px;" valign="top">
                                                        Tài khoản của bạn đã bị khóa
                                                    </td>
                                                </tr>
                                                <tr style="box-sizing: border-box;margin: 0;">
                                                    <td class="content-block" style="box-sizing: border-box;vertical-align: top;margin: 0;padding: 0 0 20px;" valign="top">
                                                        Gửi <strong style="box-sizing: border-box;margin: 0;"> <%= @user.email %> </strong>.
                                                    </td>
                                                </tr>
                                                <tr style="box-sizing: border-box;margin: 0;">
                                                    <td class="content-block" style="box-sizing: border-box;vertical-align: top;margin: 0;padding: 0 0 20px;" valign="top">
                                                        Tài khoản của bạn đã bị khóa tạm thời. Vì lý do bạn bị tố cáo 3 lần hoặc nhiều hơn. Vui lòng liên hệ với chúng tôi để biết thêm chi tiết.
                                                    </td>
                                                </tr>
                                                <tr style="box-sizing: border-box;margin: 0;">
                                                    <td class="content-block" style="box-sizing: border-box;vertical-align: top;margin: 0;" valign="top">Cảm ơn bạn đã sử dụng Shipper!</td>
                                                </tr>

                                                <tr style="box-sizing: border-box;margin: 0;">
                                                    <td class="content-block" style="box-sizing: border-box;vertical-align: top;margin: 0;" valign="top">
                                                        Shipper Team
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td style="box-sizing: border-box; vertical-align: top; margin: 0;" valign="top"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
