<div class="support-menu fixed-top">
  <div class="container">
    <div class="col-md-8">
      Người dùng
      <span class="glyphicon glyphicon-chevron-right"></span>
      Chỉnh sửa cài đặt
    </div>
  </div>
</div>
<section class="main-body">
<div class="container">
<div class="col-md-10 box box-second col-sm-offset-1">
  <!-- <div class="title"><h3>Thay đổi mật khẩu</h3></div> -->
  <%= form_for @configurable, url: configurable_path do |f| %>
  <div class="col-md-5">
  <div class="form-group">
    <label>Số tiền 3km đầu *</label>
    <%= f.text_field :price_near, class: "form-control"%>
    <%= f.error_message_on :price_near %>
  </div>
  <div class="form-group">
    <label>Số tiền km tiếp theo *</label>
    <%= f.text_field :price_away, class: "form-control"%>
    <%= f.error_message_on :price_away %>
  </div>
  </div>
  <div class="col-md-5 col-sm-offset-2">
  <div class="form-group">
    <label>Chi phí(%) *</label>
    <%= f.text_field :percent_fee, class: "form-control"%>
    <%= f.error_message_on :percent_fee %>
  </div>
  <div class="form-group">
    <label>Tiền thanh toán *</label>
    <%= f.text_field :money_payment, class: "form-control"%>
    <%= f.error_message_on :money_payment %>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-vip col-md-12">Chỉnh sửa</button>
  </div>
  </div>
  <% end %>
</div>
</div>
</section>
