<div class="support-menu fixed-top">
  <div class="container">
    <div class="col-md-8">
      Đã đấu giá <span class="glyphicon glyphicon-chevron-right"></span> Chưa duyệt
    </div>
    <div class="col-md-4">
      <div class="add-post pull-right"><a href="<%= new_post_path %>">Đăng bài</a></div>
    </div>
  </div>
</div>
<section class="main-body">
<div class="container">
<div class="col-md-12 post">
  <% if @bids.empty? %>
    <div class="col-md-4 alert alert-danger no-post col-sm-offset-4">
    <div>Bạn không có đấu giá nào</div>
    </div>
  <% else %>
  <% @bids.each do |bid| %>
    <div class="col-md-12 post-item box-user-bid">
      <div class="col-md-12">
        <div class="col-md-10">
          <div class="col-md-12">
            <h4><a href="<%= post_path(bid.post.id) %>"><%= bid.post.title %></a></h4>
            <span><%= bid.post.content %></span>
          </div>

        </div>
        <div class="col-md-2 nav">
          <div class="col-md-9 date-post">
            <%= time_ago_converter time_ago_in_words(bid.post.created_at)+" trước" %>
          </div>
          <div class="col-md-3">
            <li class="dropdown pull-right">
               <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
               <ul class="dropdown-menu">
                 <li><a href="<%= post_path(bid.post.id)%>">Chi tiết</a></li>
                 <li><a href="javascript:;" data-target="<%= bid.id %>" class="delete-bid">Hủy đấu giá</a></li>
               </ul>
             </li>
          </div>

        </div>
      </div>
      <div class="col-md-12 top-20">
        <div class="col-md-7">
          <table class="col-md-12">
            <tr>
              <th class="col-md-8">Điểm đi</th>
              <th class="col-md-4">Thời gian đi</th>
            </tr>
            <tr>
              <td class="col-md-8"><%= bid.post.place_from %></td>
              <td class="col-md-4"><%= bid.post.time_receive.strftime("%d/%m/%Y %R") %></td>
            </tr>
            <tr>
              <th class="col-md-8">Điểm đến</th>
              <th class="col-md-4">Thời gian đến</th>
            </tr>
            <tr>
              <td class="col-md-8"><%= bid.post.place_to%></td>
              <td class="col-md-4"><%= bid.post.time_send.strftime("%d/%m/%Y %R") %></td>
            </tr>
          </table>
        </div>
        <div class="col-md-5">
          <div class="box-price">
            <p>Lượt xem</p>
            <p><%= bid.post.impressionist_count %></p>
          </div>
          <div class="box-price">
            <p>Đấu giá</p>
            <p><%= bid.post.bids.count %></p>
          </div>
          <div class="box-price">
            <p>Giá đấu</p>
            <p><%= number_with_delimiter(bid.bid_price) %></p>
          </div>
          <div class="box-price">
            <p>Giá</p>
            <p><%= number_with_delimiter(bid.post.price) %></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 pull-right">
        <div class="col-md-12">
          <div class="pull-right own-post">
            Người đăng: <%= bid.post.user.profile.name %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
</div>
</section>
