<div class="support-menu fixed-top">
  <div class="container">
    <div class="col-md-8">
      Admin <span class="glyphicon glyphicon-chevron-right"></span> Thông tin người dùng
    </div>
  </div>
</div>
<section class="main-body">
<div class="container">
<div class="title-box">
  <h4>Thông tin người dùng</h4>
</div>

<div class="col-md-12 ">
  <div class="col-md-12 box">
  <div class="col-md-5">
    <%= image_tag @user.profile.avatar.url(:medium) %>
  </div>
  <div class="col-md-7 show-profile">
    <table class="col-md-12">
    <tr>
      <th class="col-md-4">Họ tên</th>
      <td><%= @user.profile.name %></td>
    </tr>
    <tr>
      <th class="col-md-4">Email</th>
      <td><%= @user.email%></td>
    </tr>
    <tr>
      <th class="col-md-4">Giới tính</th>
      <td><%= @user.profile.male %></td>
    </tr>
    <tr>
      <th class="col-md-4">Ngày sinh</th>
      <td><%= @user.profile.date_of_birth.strftime("%d/%m/%Y") %></td>
    </tr>
    <tr>
      <th class="col-md-5">Địa chỉ</th>
      <td><%= @user.profile.address %></td>
    </tr>
    <tr>
      <th class="col-md-5">Số điện thoại</th>
      <td><%= @user.profile.phone %></td>
    </tr>
    <tr>
      <th class="col-md-5">Số CMND</th>
      <td><%= @user.profile.identity_card %></td>
    </tr>
    <tr>
      <th class="col-md-5">Điểm</th>
      <td><%= @user.sum_score %></td>
    </tr>
    <!-- <tr>
      <th class="col-md-5">Tiền</th>
      <td><%= number_with_delimiter(@user.profile.money) %></td>
    </tr> -->
  </table>
  </div>
  <!-- <div class="col-md-4 col-sm-offset-5">
    <%= link_to "Back", :back, class: "btn btn-info col-md-6" %>
  </div> -->
</div>
</div>

<div class="title-box">
  <h4>Lịch sử thanh toán</h4>
</div>
<% @user.payments.each do |payment| %>
<div class="col-md-6 payment-item" >
  <div class="user-bid" style="padding: 30px 10px;">
    <div class="col-md-10">
      <%= method_payment(payment) %> - <span class="gray-show"><%= payment.created_at.strftime("%d/%m/%Y")%></span>
    </div>
    <div class="col-md-2 ">
      <a href="javascript:;" class="red pull-right delete-payment" data-target="<%= payment.id %>">Xóa</a>
    </div>
    <p>
    <div class="col-md-12">
      Số tiền: <span class="blue-show"><%= number_with_delimiter(payment.money) %> vnđ</span>
    </div>
    </p>
  </div>
</div>
<% end %>

<% if @user.reports.count > 0 %>
<div class="title-box">
<h4>Nội dung tố cáo</h4>
</div>

<% @user.reports.each do |report| %>
<div class="col-md-6 report-item">
  <div class="user-bid">
    <div class="col-md-10 report-comment">
      <%= report.comment %>
    </div>
    <div class="col-md-2 ">
      <a href="javascript:;" class="red pull-right delete-report" data-target="<%= report.id %>">Xóa</a>
    </div>
    <div class="col-md-12 gray-show">
      <%= report.created_at.strftime("%d/%m/%Y")%> - <%=User.find_by(id: report.user_report).profile.name %>
    </div>
  </div>
</div>
<% end %>
</div>
<% end %>
</div>
</section>
