<div class="support-menu fixed-top">
  <div class="container">
    <div class="col-md-6">
      Admin
      <span class="glyphicon glyphicon-chevron-right"></span>
      Quản lý người dùng <span class="num-no1"><%= @users.count %> </span>
    </div>
    <div class="col-md-6">
      <div class="search__b clearfix pull-right">
        <form action="<%= users_path %>" method="get" remote="true">
        <div class="search_right">
          <!-- <%= hidden_field_tag :authenticity_token, form_authenticity_token %> -->
          <!-- <input type="text" class="input-search" name="search[place_from]" placeholder="Điểm đi"> -->
          <input type="text" class="input-search" name="search" placeholder="Email">
          <span class="searchbtn">
            <button class="btn-search" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </form>
        </div>
      </div>
      </div>
  </div>
</div>
<section class="main-body">
<div class="col-md-12 box">
  <!-- <div class="title"><h3>Quản lý người dùng</h3></div> -->
  <div class="col-md-12">
  <table class="table table-striped table-bordered">
    <tr>
      <th>STT</th>
      <th>Email</th>
      <th>Họ tên</th>
      <th>Điểm</th>
      <th>Tiền</th>
      <th>Ngày tạo</th>
      <th>Bị tố cáo</th>
      <th>Ngày khóa</th>
      <th>Chức năng</th>
    </tr>
    <% @users.each_with_index do |user, index| %>
    <tr class="box-user">
      <td><%= index+1 %></td>
      <td><%= user.email %></td>
      <td><%= user.profile.try(:name) %></td>
      <td><%= user.sum_score%></td>
      <td><%= number_with_delimiter(user.profile.try(:money)) %></td>
      <td><%= user.created_at.strftime("%d/%m/%Y") %></td>
      <td><a href="<%= reports_path %>"><%= user.reports.count %></a></td>
      <td><% if user.date_lock %><%= user.date_lock.strftime("%d/%m/%Y") %> <% end %></td>
      <td>
        <a data-target="<%= user.id %>" class="btn btn-danger delete-user">
          <span class="glyphicon glyphicon-remove-sign"></span>
          Xóa</a>
        <a data-target="<%= user.id %>" class="btn btn-primary lock-user">
          <!-- <span class="glyphicon glyphicon-lock"></span> -->
          <%= user.try(:lock) ? +'<i class="fa fa-unlock"></i>'.html_safe+" Mở khóa" : +'<i class="fa fa-lock"></i>'.html_safe+" Khóa"    %></a>
        <% if user.profile %>
        <a type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal<%= user.id %>">
          <span class="glyphicon glyphicon-usd"></span>
          Nạp tiền</a>
        <a href="<%= user_details_path(user.id) %>" class="btn btn-info">
          <span class="glyphicon glyphicon-folder-open"></span>
          Thông tin</a>


        <div id="myModal<%= user.id %>" class="modal fade modal-payment myModal" role="dialog">
          <div class="modal-dialog modal-edit">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="form-box-inner" id="payment">
                  <div class="row">
                    <h3 class="modal-title text-center">Nạp tiền</h3>
                    <div class="form-container col-xs-12 col-md-12 message-payment">
                      <form class="login-form" data-toggle="validator">
                        <input type="text" class="user_id" value="<%= user.id %>" hidden="hidden">
                        <div class="form-group password">
                          <input id="money" type="number" pattern="(\d{3})([\.])(\d{2})" class="form-control login-password money">
                        </div>
                        <button type="button" class="btn-main btn-login btn-payment">Nạp tiền</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <%end %>

      </td>
    </tr>

    <% end %>
  </table>
  <div class="pull-right">
    <%= will_paginate @posts %>
  </div>
  </div>
</div>
</section>
