<div class="support-menu fixed-top">
  <div class="container">
    <div class="col-md-8">
      Thông tin người dùng
    </div>
  </div>
</div>
<section class="main-body">
<div class="container">
<div class="col-md-12 box">
  <!-- <div class="title"><h3>Thông tin cá nhân</h3></div> -->
  <div class="col-md-5">
    <%= image_tag @user.profile.avatar.url(:medium) %>
  </div>
  <div class="col-md-7 show-profile">
    <table class="col-md-12">
    <tr>
      <th class="col-md-4">Họ tên</th>
      <td><%= @user.profile.name %></td>
    </tr>
    <tr>
      <th class="col-md-4">Email</th>
      <td><%= @user.email%></td>
    </tr>
    <tr>
      <th class="col-md-4">Giới tính</th>
      <td><%= @user.profile.male %></td>
    </tr>
    <tr>
      <th class="col-md-4">Ngày sinh</th>
      <td><%= @user.profile.date_of_birth.strftime("%d/%m/%Y") %></td>
    </tr>
    <tr>
      <th class="col-md-5">Địa chỉ</th>
      <td><%= @user.profile.address %></td>
    </tr>
    <tr>
      <th class="col-md-5">Số điện thoại</th>
      <td><%= @user.profile.phone %></td>
    </tr>
    <tr>
      <th class="col-md-5">Số CMND</th>
      <td><%= @user.profile.identity_card %></td>
    </tr>
    <tr>
      <th class="col-md-5">Điểm</th>
      <td><%= @user.sum_score %></td>
    </tr>
    <!-- <tr>
      <th class="col-md-5">Tiền</th>
      <td><%= number_with_delimiter(@user.profile.money) %></td>
    </tr> -->
  </table>
  </div>
  <div class="col-md-4 col-sm-offset-5">
    <%= link_to "Back", :back, class: "btn btn-info col-md-6" %>
  </div>
</div>
<div class="modal"></div>
</div>
</section>
