<div class="service" id="home">
  <div class="container">
      <!-- Start title section -->
      <div class="title">
          <h1>Bạn nên chọn chúng tôi!</h1>
          <!-- Section's title goes here -->
          <p>Bạn cần người vận chuyển một món hàng hay bạn muốn kiếm thêm thu nhập? Hãy để chúng tôi giúp bạn!.</p>

          <!--Simple description for section goes here. -->
      </div>
      <div class="row-fluid col-md-12">
          <div class="span4 col-md-4">
              <div class="centered">
                  <div class="circle-border zoom-in">
                      <img class="img-circle" src="../../assets/Service3.png" alt="service 1">
                  </div>
                  <h3>Tiết kiệm thời gian</h3>
                  <p>Tìm người vận chuyển dễ dàng hơn bao giờ hết.</p>
              </div>
          </div>
          <div class="span4 col-md-4">
              <div class="centered">
                  <div class="circle-border zoom-in">
                      <img class="img-circle" src="../../assets/Service2.png" alt="service 2" />
                  </div>
                  <h3>Tiết kiệm tiền</h3>
                  <p>Tiết kiệm hơn tiền vận chuyển với chức năng đấu giá ngược.</p>
              </div>
          </div>
          <div class="span4 col-md-4">
              <div class="centered">
                  <div class="circle-border zoom-in">
                      <img class="img-circle" src="../../assets/Service1.png" alt="service 3">
                  </div>
                  <h3>Kiếm thêm thu nhập</h3>
                  <p>Hãy là người đấu giá thông minh để tự tạo công việc cho mình.</p>
              </div>
          </div>
      </div>
</div>
</div>
<!-- Service section end -->

<div class="rule" id="dieukhoan">
  <div class="container">
      <!-- Start title section -->
      <div class="title">
          <h1>Điều khoản dịch vụ</h1>
          <!-- Section's title goes here -->
          <p>Chúng tôi luôn mong muốn đem lại những trải nghiệm và lợi ích tốt nhất dành cho bạn.</p>

          <!--Simple description for section goes here. -->
      </div>
      <div class="row col-md-12">
          <div class="span4 col-md-3">
            <div class="title-item">
              <h3>Bảng giá</h3>
            </div>
              <div class="testimonial">
                  <p>Giá 3km đầu:    <%= number_with_delimiter(Configurable.first.price_near) %> vnđ</p>
                  <p>Giá km tiếp theo:  <%= number_with_delimiter(Configurable.first.price_away) %> vnđ</p>
                  <p>Giá trên được hệ thống tính toán dựa trên đường đi ngắn nhất được hiển thị Google Map</p>
              </div>
          </div>
          <div class="span4 col-md-3">
            <div class="title-item">
              <h3>Đấu giá</h3>
            </div>
              <div class="testimonial">
                  <p>Hệ thống sẽ đưa ra gia cố định được tính theo bảng giá của website</p>
                  <p>Mọi người có thể  bình chọn gái phù hợp nhất để khách hàng có thể chọn mình.</p>
                  <p>Lời khuyên: Nên bình chọn giá thấp hơn giá cố định.</p>
              </div>
          </div>
          <div class="span4 col-md-3">
            <div class="title-item">
              <h3>Lệ phí</h3>
            </div>
              <div class="testimonial">

                  <p>Hệ thống chỉ tính phí khi bạn được khách hàng chọn là người ship.</p>
                  <p>Lệ phí: <%= Configurable.first.percent_fee %>% giá trị gói dịch vụ.</p>

              </div>
          </div>
          <div class="span4 col-md-3">
            <div class="title-item">
              <h3>Giao dịch</h3>
            </div>
              <div class="testimonial">
                  <p>Chi phí ship được khách hàng thanh toán trực tiếp với người ship.</p>
                  <p>Mọi giao dịch giữa khách hàng dựa trên tinh thần tự nguyện. Chúng tôi không chiệu trách nhiệm về mọi rủi ro mất mát.</p>
              </div>
          </div>
      </div>

</div>
</div>

<div class="contact" id="lienhe">
  <div class="container">
      <!-- Start title section -->
      <div class="title">
          <h1>Liên hệ</h1>
          <!-- Section's title goes here -->
          <p>Hãy liên hệ với chúng tôi để được tư vấn và hỗ trợ.</p>

          <!--Simple description for section goes here. -->
      </div>
      <div class="col-md-12">
      <div class="contact-detail col-md-5">
        <p><span>Địa chỉ: </span>135 Phạm Như Xương, Liên Chiểu, Đà Nẵng<span></p>
        <p><span>Số điện thoại: </span>0964823281 - 0967769622</p>
        <p><span>Email: </span>shipperdanang@gmail.com</p>
      </div>
      <div class=" col-md-5 col-sm-offset-1">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2711.060815173056!2d108.1495082342974!3d16.06450519908113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421929328e9089%3A0x4fa51dec9ca4f43d!2zQ8O0bmcgVHkgVG5oaCBNdHYgR2nhuqNpIFBow6FwIFZp4buHdA!5e0!3m2!1svi!2s!4v1489321536085" width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>
<div class="footer">
  Design by Nguyễn Hữu Nhựt
</div>
