<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-fixed-top " role="navigation">
      <div class="container">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Đây là menu mobile</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="<%= root_path %>"><img src="../../../assets/shipper.png" width="120" height="40" alt="Logo" /></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
              <ul class="nav navbar-nav navbar-right ">
                  <!-- <li class="active"><a href="#home">Trang chủ</a></li>
                  <li><a href="#dieukhoan">Điều khoản</a></li>
                  <li><a href="#lienhe">Liên hệ</a></li> -->

                  <% if current_user %>
                  <% if current_user.is_admin %>
                    <li role="presentation" class="<% if request.fullpath == users_path%>active<% end %>"><a href="<%= users_path %>">Người dùng</a></li>
                    <li role="presentation" class="<% if request.fullpath == edit_configurable_path(1) %>active<% end %>"><a href="<%= edit_configurable_path(1) %>">Cài đặt</a></li>
                  <% else %>
                  <li role="presentation" class="<% if request.fullpath == posts_path || request.path_info == posts_path %>active<% end %>"><a href="<%= posts_path %>">Bài đăng</a></li>
                  <li class="dropdown <% if request.fullpath == my_post_false_path || request.fullpath == my_post_true_path%>active<% end %>" role="presentation">
                     <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bài đăng của tôi <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                       <li><a href="<%= my_post_false_path %>">Tìm shipper <span class="num-no"><%= current_user.posts.where(status: false).count %></span></a></li>
                       <li><a href="<%= my_post_true_path %>">Đã có shipper<span class="num-no"><%= current_user.posts.where(status: true).count %></span></a></li>
                     </ul>
                   </li>
                   <li class="dropdown <% if request.fullpath == my_bid_path || request.fullpath == shippers_path%>active<% end %>">
                      <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Đã đấu giá <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="<%= my_bid_path %>" class="active">Chưa duyệt<span class="num-no"><%= current_user.bids.count %></span></a></li>
                        <li><a href="<%= shippers_path %>">Đã duyệt<span class="num-no"><%= current_user.shippers.count %></span></a></li>
                      </ul>
                    </li>
                    <li role="presentation" class=""><a data-toggle="modal" data-target="#report">Tố cáo</a></li>
                  <!-- <li role="presentation" class="pull-right add-post"><a href="<%= new_post_path %>"><span class="glyphicon glyphicon-plus"></span>  Đăng bài</a></li> -->
                      <li class="notification"><a href="<%=  %>" data-toggle="modal" data-target="#notification" id="seen_notifications">
                        <span class="glyphicon glyphicon-bell"></span>
                        <% notifications = current_user.notifications.where(status: false).count %>
                        <% if notifications > 0 %>
                          <span id="view-notification"><%= notifications %></span>
                        <% end %>
                      </a></li>
                      <% end %>
                    <% if current_user.profile.try(:id) %>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle avatar-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <%= image_tag current_user.profile.avatar.url(:thumb), class: "avatar" %>  <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="<%= new_payment_path %>"><span class="glyphicon glyphicon-usd"></span>Nạp tiền <span class="num-no"><%= number_with_delimiter(current_user.profile.money) %></a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="<%= reviews_path %>"><span class="glyphicon glyphicon-book"></span>Phản hồi <span class="num-no"><%= current_user.reviews.count %></a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="<%= profile_path(current_user.profile.id) %>"><span class="glyphicon glyphicon-user"></span>Thông tin</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="<%= destroy_user_session_path %>" data-method="delete"><span class="glyphicon glyphicon-log-out"></span>Đăng Xuất</a></li>
                        </ul>
                      </li>
                    <% else %>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle avatar-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="/assets/user.png" alt="" class="avatar">  <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="<%= destroy_user_session_path %>" data-method="delete"><span class="glyphicon glyphicon-log-out"></span>Đăng Xuất</a></li>
                      </ul>
                    </li>
                    <%end %>
                  <% else %>
                  <li><a href="#" id="loginForm"  data-toggle="modal" data-target="#login"><span class="glyphicon glyphicon-log-in"></span>Đăng nhập</a></li>
                  <li><a href="#" id="btnSignup"  data-toggle="modal" data-target="#login"><span class="glyphicon glyphicon-user"></span>Đăng ký</a></li>
                  <% end %>
              </ul>
          </div><!--/.nav-collapse -->
      </div>
    </div>
  </nav>
  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
          <div class="form-box-inner" id="login-form">
            <h2 class="title text-center">Đăng nhập vào SHIPPER</h2>
            <div class="row">
              <div class="form-container col-xs-12 col-md-12 message-login">
                <form class="login-form" data-toggle="validator">
                  <div class="form-group email">
                    <label class="sr-only" for="login-email">Email </label>
                    <input id="login-email" type="email" class="form-control login-email" placeholder="Email" name="email" required>
                  </div>
                  <div class="form-group password">
                    <label class="sr-only" for="login-password">Mật khẩu</label>
                    <input id="login-password" type="password" class="form-control login-password" placeholder="Mật khẩu">
                    <p class="forgot-password"><a href="#">Quên mật khẩu?</a></p>
                  </div>
                  <button type="button" id="btn_login" class="btn-main btn-login">Đăng nhập</button>
                  <p class="lead">Bạn chưa có tài khoản? <br><a class="signup-link" href="javascript:;" id="signupnow">Đăng ký</a></p>
                </form>
              </div>
            </div>
          </div>
          <div class="form-box-inner" id="signup-form" style="display: none;">
            <h2 class="title text-center">Đăng ký tài khoản</h2>
            <div class="row">
              <div class="form-container col-xs-12 col-md-12 message-signup">
                <form class="login-form">
                  <div class="form-group email">
                    <label class="sr-only" for="login-email">Email</label>
                    <input id="login-email2" type="email" name="email" class="form-control login-email" placeholder="Email" required="required">
                  </div>
                  <div class="form-group password">
                    <label class="sr-only" for="login-password">Mật khẩu</label>
                    <input id="login-password2" type="password" name="password" class="form-control login-password" placeholder="Mật khẩu">
                  </div>
                  <div class="form-group password">
                    <label class="sr-only" for="login-password">Nhập lại mật khẩu</label>
                    <input id="login-repassword2" type="password" name="password_comfirmation" class="form-control login-password" placeholder="Nhập lại mật khẩu">
                  </div>
                  <button type="button" id="btnSignUp" class="btn-main btn-signup">Đăng ký</button>
                  <p class="lead">Bạn đã có tài khoản? <br><a class="signup-link" href="javascript:;" id="loginnow">Đăng nhập</a></p>
                </form>
              </div>
            </div>
          </div>

          <div class="form-box-inner" id="resetPassword-form" style="display: none;">
            <h2 class="title text-center">Đặt lại mật khẩu</h2>
            <div class="row">
              <div class="form-container col-xs-12 col-md-12 message-signup">
                <form class="login-form">
                  <div class="form-group email">
                    <label class="sr-only" for="login-email">Email</label>
                    <input id="login-email2" type="email" name="email" class="form-control login-email" placeholder="Email" required="required">
                  </div>
                  <div class="form-group password">
                    <label class="sr-only" for="login-password">Mật khẩu</label>
                    <input id="login-password2" type="password" name="password" class="form-control login-password" placeholder="Mật khẩu">
                  </div>
                  <div class="form-group password">
                    <label class="sr-only" for="login-password">Nhập lại mật khẩu</label>
                    <input id="login-repassword2" type="password" name="password_comfirmation" class="form-control login-password" placeholder="Nhập lại mật khẩu">
                  </div>
                  <button type="button" id="btnSignUp" class="btn-main btn-signup">Đăng ký</button>
                  <p class="lead">Bạn đã có tài khoản? <br><a class="signup-link" href="javascript:;" id="loginnow">Đăng nhập</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="report" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="form-box-inner" id="report-form">
          <h2 class="title text-center">Tố cáo người dùng</h2>
          <div class="row">
            <div class="form-container col-xs-12 col-md-12 message-signup">
              <form class="login-form">
                <div class="form-group email">
                  <label for="login-email">Email</label>
                  <input id="report-email" type="email" class="form-control login-email" placeholder="Email" required="required">
                </div>
                <div class="form-group comment">
                  <label for="login-password">Nội dung</label>
                  <textarea  id="report-comment" class="form-control login-email" rows="4" placeholder="Nội dung" required="required"></textarea>
                </div>
                <button type="button" id="btnReport" class="btn-main btn-signup">Tố cáo</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if current_user %>
  <div id="notification" class="modal fade " role="dialog">
  <div class="modal-dialog modal-notification ">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"  class="btn btn-vip pull-right" data-dismiss="modal">Close</button>
      </div>
      <div class="modal-body">
          <div>
            <img src="/assets/icon-notification.png" alt="" style="width: 20px; height: 20px; margin-left: 20px;">
            Thông báo
          </div>
          <div class="notification-scroll">
          <table>
          <% current_user.notifications.order({ created_at: :desc }).each do |notification| %>
          <tr class="col-md-24 tr-scroll box-notification">
              <td class="col-md-1">
                <% @user = User.find_by id: notification.send_id %>
                <% if @user.profile %>
                  <%= image_tag @user.profile.avatar.url(:thumb), class: "avatar" %>
                <% else %>
                  <img src="/assets/user.png" alt="" class="avatar">
                <% end %>
              </td>
              <td class="col-md-20">
                <a href="<%= user_path(@user.id) %>"><%= @user.email %></a></br>
                <%= notification.content %>
              </td>
              <td class="col-md-2">
                <%= time_ago_converter time_ago_in_words(notification.created_at)+" trước" %>
              </td>
              <td class="col-md-1">
                <a class="close delete-notification" id="delete-notification" data-target="<%= notification.id %>"><span class="glyphicon glyphicon-remove" style="font-size: 11px;"></span></a>
              </td>
          </tr>
          <% end %>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>
<% end %>

</body>

</html>
