<div class="support-menu fixed-top">
  <div class="container">
    <div class="col-md-8">
      Đã đấu giá <span class="glyphicon glyphicon-chevron-right"></span> Đã duyệt
    </div>
    <div class="col-md-4">
      <div class="add-post pull-right"><a href="<%= new_post_path %>">Đăng bài</a></div>
    </div>
  </div>
</div>
<section class="main-body">
<div class="container">
<div class="col-md-12 post">
  <% if @shippers.empty? %>
    <div class="col-md-4 alert alert-danger no-post col-sm-offset-4">
    <div>Bạn không có đấu giá nào</div>
    </div>
  <% else %>
  <% @shippers.each do |shipper| %>
    <div class="col-md-12 post-item box-shipper">
      <div class="col-md-12">
        <div class="col-md-10">
          <div class="col-md-12">
            <h4><a href="<%= post_path(shipper.post.id) %>"><%= shipper.post.title %></a></h4>
            <span><%= shipper.post.content %></span>
          </div>

        </div>
        <div class="col-md-2 nav">
          <div class="col-md-12 date-post pull-right">
            <%= time_ago_converter time_ago_in_words(shipper.post.created_at)+" trước" %>
          </div>
          <!-- <div class="col-md-5">
            <button type="button" class="btn btn-danger report" data-target="<%= shipper.post.user.id %>">Tố cáo</button>
          </div> -->

        </div>
      </div>
      <div class="col-md-12 top-20">
        <div class="col-md-8">
          <table class="col-md-12">
            <tr>
              <th class="col-md-8">Điểm đi</th>
              <th class="col-md-4">Thời gian đi</th>
            </tr>
            <tr>
              <td class="col-md-8"><%= shipper.post.place_from %></td>
              <td class="col-md-4"><%= shipper.post.time_receive.strftime("%d/%m/%Y %R") %></td>
            </tr>
            <tr>
              <th class="col-md-8">Điểm đến</th>
              <th class="col-md-4">Thời gian đến</th>
            </tr>
            <tr>
              <td class="col-md-8"><%= shipper.post.place_to%></td>
              <td class="col-md-4"><%= shipper.post.time_send.strftime("%d/%m/%Y %R") %></td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <div class="box-price">
            <p>Giá đấu</p>
            <p><%= number_with_delimiter(shipper.money_ship) %></p>
          </div>
          <div class="box-price">
            <p>Lệ phí</p>
            <p><%= number_with_delimiter(shipper.fee) %></p>
          </div>
          <div class="box-price">
            <p>Giá gốc</p>
            <p><%= number_with_delimiter(shipper.post.price) %></p>
          </div>
        </div>

      </div>
      <div class="col-md-4 pull-right">
        <div class="col-md-12">
          <div class="pull-right own-post">
            Người đăng: <a href="<%= user_path(shipper.post.user.id) %>" class="blue02"><%= shipper.post.user.profile.name %></a>
          </div>
        </div>
      </div>
    </div>
    </div>
  <% end %>

  <% end %>
</div>
</div>
</section>
