<div class="support-menu fixed-top">
  <div class="container">
    <div class="col-md-8">
      Người dùng <span class="glyphicon glyphicon-chevron-right"></span> Phương thức thanh toán
    </div>
    <div class="col-md-4">
      <div class="pull-right">
        Số dư: <span class="num-no1">
          <% if current_user.profile %>
            <%= number_with_delimiter(current_user.profile.money) %>
          <% else %>
            0
            <% end %>
          </span><span> vnđ</span>
      </div>
    </div>
  </div>
</div>
<section class="main-body">
<div class="container">
<div class="col-md-12">
  <div class="col-md-6">
    <div class="box">
      <div class="title">
        <h4>Thanh toán trực tiếp</h4>
      </div>
      <p class="payment-row">Số tiền tối thiểu cho mỗi lần thanh toán là <%= number_with_delimiter(Configurable.first.money_payment) %> vnđ</p>
      <p class="payment-row">Bạn vui lòng đến văn phòng của chúng tôi để thanh toán trực tiếp </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box">
      <div class="title">
        <h4>Thanh toán qua thẻ</h4>
      </div>
      <p class="payment-row">Số tiền thanh toán là <%= number_with_delimiter(Configurable.first.money_payment) %> vnđ</p>
      <div class="stripe-button-container">
      <%= form_tag payments_path, class: "payment-form" do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" value="Thanh toán" hidden="true"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Vui lòng nhập thông tin"
                data-name="Shipper"

                data-amount="<%= Configurable.first.money_payment %>"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-notrack
                data-currency="vnd"
                data-locale="auto"></script>
                <!-- <button type="submit" class="stripe-button-el" style="visibility: visible;">
                  <span style="display: block; min-height: 30px;">Thanh toán</span>
                </button> -->
      <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</section>
