<div class="support-menu fixed-top">
  <div class="container">
    <div class="col-md-4">
      <div class="add-post"><a href="<%= new_post_path %>">Đăng bài</a></div>
    </div>
    <div class="col-md-8">
      <div class="search__b clearfix pull-right">
        <form action="<%= posts_path %>" method="get">
        <div class="search_right">
          <!-- <%= hidden_field_tag :authenticity_token, form_authenticity_token %> -->
          <input type="text" class="input-search" name="search[place_from]" placeholder="Điểm đi">
          <input type="text" class="input-search" name="search[place_to]" placeholder="Điểm đến">
          <span class="searchbtn">
            <button class="btn-search" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </form>
        </div>
      </div>
      </div>
  </div>
</div>
<section class="main-body">
<div class="container">
<div class="col-md-12">
  <% @posts.each do |post| %>
    <div class="col-md-12 post-item">
      <div class="col-md-12">
        <div class="col-md-9">
          <div class="col-md-12">
            <h4><a href="<%= post_path(post.id) %>"><%= post.title %></a></h4>
            <span><%= post.content %></span>
          </div>

        </div>
        <div class="col-md-3 nav">
          <div class="col-md-9 date-post">
            <%= time_ago_converter time_ago_in_words(post.created_at)+ " trước"%>
          </div>
          <div class="col-md-3">
            <li class="dropdown pull-right">
               <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
               <ul class="dropdown-menu">
                 <li><a href="<%= post_path(post.id)%>">Chi tiết</a></li>
                 <li><a href="" data-toggle="modal" data-target="#myModal<%= post.id %>">Đấu giá</a></li>
               </ul>
             </li>
          </div>

        </div>
      </div>
      <div class="col-md-12 top-20">
        <div class="col-md-8">
          <table class="col-md-12">
            <tr>
              <th class="col-md-8">Điểm đi</th>
              <th class="col-md-4">Thời gian đi</th>
            </tr>
            <tr>
              <td class="col-md-8"><%= post.place_from %></td>
              <td class="col-md-4"><%= post.time_receive.strftime("%d/%m/%Y %R") %></td>
            </tr>
            <tr>
              <th class="col-md-8">Điểm đến</th>
              <th class="col-md-4">Thời gian đến</th>
            </tr>
            <tr>
              <td class="col-md-8"><%= post.place_to%></td>
              <td class="col-md-4"><%= post.time_send.strftime("%d/%m/%Y %R") %></td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <div class="box-price">
            <p>Lượt xem</p>
            <p><%= post.impressionist_count %></p>
          </div>
          <div class="box-price">
            <p>Đấu giá</p>
            <p><%= post.bids.count %></p>
          </div>
          <div class="box-price">
            <p>Giá</p>
            <p><%= number_with_delimiter(post.price) %> vnđ</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 pull-right">
        <div class="col-md-12">
          <div class="pull-right own-post">
            Người đăng: <%= post.user.profile.name %>
          </div>
        </div>
      </div>
    </div>
    <div id="myModal<%= post.id %>" class="modal fade modal-bid" role="dialog">
      <div class="modal-dialog modal-login">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-box-inner">
              <h3 class="title text-center">Đấu giá</h3>
              <div class="row">
                <div class="form-container col-xs-12 col-md-12 message-bid">
                  <form class="login-form" data-toggle="validator">
                    <input class="post_id" value="<%= post.id %>" hidden="true">
                    <div class="form-group">
                      <label >Giá đề xuất </label>
                      <input type="number" class="form-control login-email bid_price" placeholder="Giá đề xuất" name="pid_price" required>
                    </div>
                    <a type="button" href="javascript:;" class="btn-main btn-login btn_bid" id="btn_bid">Đấu giá</a>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  <% end %>
  <div class="pull-right">
    <%= will_paginate @posts %>
  </div>
</div>
</div>
</section>
