
<section class="main-body">
<div class="container">
<div class="col-md-12">
  <div class="menu-post">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="<%= posts_path %>">Bài đăng</a></li>
      <li role="presentation"><a href="<%= my_post_path %>">Bài đăng của tôi</a></li>
      <li role="presentation" class="active"><a href="<%= my_bid_path %>">Đã đấu giá</a></li>
    </ul>
  </div>
  <% if @bids.empty? %>
    <div class="col-md-4 alert alert-danger no-post col-sm-offset-4">
    <div>Bạn không có đấu giá nào</div>
    <div class="top-20"><a href="<%= posts_path %>" class="btn btn-vip">Bài đăng</a></div>
    </div>
  <% else %>
  <% @bids.each do |bid| %>
    <div class="col-md-12 post-item">
      <div class="col-md-12">
        <div class="col-md-10">
          <div class="col-md-12">
            <h4><a href="<%= post_path(bid.post.id) %>"><%= bid.post.title %></a></h4>
            <span><%= bid.post.content %></span>
          </div>

        </div>
        <div class="col-md-2 nav">
          <div class="col-md-9 date-post">
            <%= time_ago_converter time_ago_in_words(bid.post.created_at)+" trước" %>
          </div>
          <div class="col-md-3">
            <li class="dropdown pull-right">
               <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
               <ul class="dropdown-menu">
                 <li><a href="<%= post_path(bid.post.id)%>">Chi tiết</a></li>
                 <li><a href="" data-toggle="modal" data-target="#myModal<%= bid.post.id %>">Đấu giá</a></li>
               </ul>
             </li>
          </div>

        </div>
      </div>
      <div class="col-md-12 top-20">
        <div class="col-md-7">
          <table class="col-md-12">
            <tr>
              <th class="col-md-8">Điểm đi</th>
              <th class="col-md-4">Thời gian đi</th>
            </tr>
            <tr>
              <td class="col-md-8"><%= bid.post.place_from %></td>
              <td class="col-md-4"><%= bid.post.time_receive.strftime("%d/%m/%Y %R") %></td>
            </tr>
            <tr>
              <th class="col-md-8">Điểm đến</th>
              <th class="col-md-4">Thời gian đến</th>
            </tr>
            <tr>
              <td class="col-md-8"><%= bid.post.place_to%></td>
              <td class="col-md-4"><%= bid.post.time_send.strftime("%d/%m/%Y %R") %></td>
            </tr>
          </table>
        </div>
        <div class="col-md-5">
          <div class="box-price">
            <p>Lượt xem</p>
            <p><%= bid.post.impressionist_count %></p>
          </div>
          <div class="box-price">
            <p>Đấu giá</p>
            <p><%= bid.post.bids.count %></p>
          </div>
          <div class="box-price">
            <p>Giá đấu</p>
            <p><%= number_with_delimiter(bid.bid_price) %></p>
          </div>
          <div class="box-price">
            <p>Giá</p>
            <p><%= number_with_delimiter(bid.post.price) %></p>
          </div>
        </div>
      </div>
    </div>
    <div id="myModal<%= bid.post.id %>" class="modal fade modal-bid" role="dialog">
      <div class="modal-dialog modal-login">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-box-inner">
              <h2 class="title text-center">Đấu giá</h2>
              <div class="row">
                <div class="form-container col-xs-12 col-md-12 message-bid">
                  <form class="login-form" data-toggle="validator">
                    <input class="post_id" value="<%= bid.post.id %>" hidden="true">
                    <div class="form-group">
                      <label >Giá đề xuất </label>
                      <input type="number" class="form-control login-email bid_price" placeholder="Giá đề xuất" name="pid_price" required>
                    </div>
                    <div class="form-group password">
                      <label >Nội dung</label>
                      <textarea  rows="4" class="form-control login-email bid_comment" name="pid_comment"></textarea>

                    </div>
                    <a type="button" href="javascript:;" class="btn-main btn-login" id="btn_bid">Hủy đấu giá</a>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  <% end %>
  <% end %>
</div>
</div>
</section>
