<div class="support-menu fixed-top">
  <div class="container">
    <div class="col-md-8">
      Bài đăng của tôi <span class="glyphicon glyphicon-chevron-right"></span> Đã có shipper
    </div>
    <div class="col-md-4">
      <div class="add-post pull-right"><a href="<%= new_post_path %>">Đăng bài</a></div>
    </div>
  </div>
</div>
<section class="main-body">
<div class="container">
<div class="col-md-12">
  <% if @posts.empty? %>
      <div class="col-md-4 alert alert-danger no-post col-sm-offset-4">
      <div>Bạn không có bài đăng nào</div>
      <!-- <div class="top-20"><a href="<%= new_post_path %>" class="btn btn-vip">Đăng bài</a></div> -->
      </div>
  <% else %>
  <div class="post_empty">
  </div>
  <%  @posts.each do |post| %>
    <div class="col-md-12 post-item">
      <div class="col-md-12">
        <div class="col-md-10">
          <div class="col-md-12">
            <h4><a href="<%= post_path(post.id) %>"><%= post.title %></a></h4>
            <span><%= post.content %></span>
          </div>

        </div>
        <div class="col-md-2 nav">
          <div class="col-md-9 date-post">
            <%= time_ago_converter time_ago_in_words(post.created_at)+" trước" %>
          </div>
          <div class="col-md-3">
            <li class="dropdown pull-right">
               <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
               <ul class="dropdown-menu">
                 <li><a href="<%= post_path(post.id)%>">Chi tiết</a></li>
                 <!-- <li><a href="<%= post_my_post_details_path(post) %>" class="orange">Người đấu giá</a></li> -->
                 <li><a href="javascript:;"  class="red delete-post" data-target="<%= post.id %>">Xóa</a></li>
               </ul>
             </li>
          </div>

        </div>
      </div>
      <div class="col-md-12 top-20">
        <div class="col-md-8">
          <table class="col-md-12">
            <tr>
              <th class="col-md-8">Điểm đi</th>
              <th class="col-md-4">Thời gian đi</th>
            </tr>
            <tr>
              <td class="col-md-8"><%= post.place_from %></td>
              <td class="col-md-4"><%= post.time_receive.strftime("%d/%m/%Y %R") %></td>
            </tr>
            <tr>
              <th class="col-md-8">Điểm đến</th>
              <th class="col-md-4">Thời gian đến</th>
            </tr>
            <tr>
              <td class="col-md-8"><%= post.place_to%></td>
              <td class="col-md-4"><%= post.time_send.strftime("%d/%m/%Y %R") %></td>
            </tr>
          </table>
        </div>
        <div class="col-md-4 ">
          <div class="col-md-5 btm-10"><b>Người ship:</b></div>
          <div class="col-md-7 btm-10"><a href="<%= user_path(post.shipper.user.id) %>" class="blue02"><%= post.shipper.user.profile.name %></a></div>
          <div class="col-md-5 btm-10"><b>Giá:</b></div>
          <div class="col-md-7 btm-10"><span><%= number_with_delimiter(post.shipper.money_ship, precision: 0) %> vnđ</span></div>
          <% if post.shipper.review %>
            <div class="col-md-5 btm-10"><b>Đánh giá:</b></div>
            <div class=" col-md-7 btm-10">
              <div class="star-rated" data-score="<%= post.shipper.review.score%>"></div>
            </div>
            <div class="col-md-5 btm-10"><b>Nhận xét:</b></div>
            <div class="col-md-7 btm-10"><%= post.shipper.review.comment%></div>
          <% else %>
            <div class="reviews">
              <form>
              <div class="reviews-content">
                <div class="col-md-5 btm-10"><b>Đánh giá:</b></div>
                <div class="reviews col-md-7 btm-10">
                  <div class="star-rating"></div>
                </div>
                <input type="text" hidden class="shipper_id" value="<%= post.shipper.id %>">
                <div class="col-md-12 btm-10"><textarea name="review[comment]" cols="30" rows="3" class="comment"></textarea></div>
                <div class="col-md-12 btm-10"><button type="button" class="btn btn-vip pull-right review" data-target="<%= post.shipper.id%>">Đánh giá</button></div>
              </form>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
</div>
</section>
<script>
$('.star-rating').raty({
  path: "/assets",
  scoreName: "review[score]"
});
  $('.star-rated').raty({
    path: "/assets",
    scoreName: "review[score]",
    readOnly: true,
    score: function() {
      return $(this).attr("data-score");
    }
  });
</script>
