<div class="support-menu fixed-top">
  <div class="container">
    <div class="col-md-8">
      Bài đăng của tôi
      <span class="glyphicon glyphicon-chevron-right"></span>
      Tìm shipper
      <span class="glyphicon glyphicon-chevron-right"></span>
      Người đấu giá
    </div>
    <div class="col-md-4">
      <div class="add-post pull-right"><a href="<%= new_post_path %>">Đăng bài</a></div>
    </div>
  </div>
</div>
<section class="main-body">
<div class="container">
<div class="col-md-12">
  <% if @post.bids.empty? %>
      <div class="col-md-4 alert alert-danger no-post col-sm-offset-4">
      <div>Không có đấu giá nào</div>
      </div>
  <% else %>
  <div class="post_empty">
  </div>
  <%  @post.bids.each do |bid| %>
    <div class="col-md-6 box-user-bid">
      <div class="user-bid">
        <div class="col-md-3 bid-avatar">
          <span><img src="<%= bid.user.profile.avatar.url(:thumb) %>" /></span>
        </div>
        <div class="col-md-7 bid-info">
          <div class="col-md-12">
            <span><a href="#" class="blue01"><%= bid.user.profile.name %></a></span>
          </div>
          <div class="bid-score">
            <span><%= bid.user.sum_score %> điểm</span>
          </div>
          <div class="bid-score">
            <span><%= number_with_delimiter(bid.bid_price) %> vnđ</span>
          </div>
        </div>
        <div class="col-md-2 bid-action ">
          <a href="javascript:;" class="pull-right choose-shipper" data-target="<%= bid.id %>">Chọn</a>
          <a href="javascript:;" class="red pull-right delete-bid" data-target="<%= bid.id %>">Xóa</a>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
</div>
</section>
