<div class="support-menu fixed-top">
  <div class="container">
    <div class="col-md-8">
      Bài đăng của tôi <span class="glyphicon glyphicon-chevron-right"></span> Tìm shipper
    </div>
    <div class="col-md-4">
      <div class="add-post pull-right"><a href="<%= new_post_path %>">Đăng bài</a></div>
    </div>
  </div>
</div>
<section class="main-body">
<div class="container">
<div class="col-md-12">
  <% if @posts.empty? %>
      <div class="col-md-4 alert alert-danger no-post col-sm-offset-4">
      <div>Bạn không có bài đăng nào</div>
      </div>
  <% else %>
  <div class="post_empty">
  </div>
  <%  @posts.each do |post| %>
    <div class="col-md-12 post-item">
      <div class="col-md-12">
        <div class="col-md-10">
          <div class="col-md-12">
            <h4><a href="<%= post_path(post.id) %>"><%= post.title %></a></h4>
            <span><%= post.content %></span>
          </div>

        </div>
        <div class="col-md-2 nav">
          <div class="col-md-9 date-post">
            <%= time_ago_converter time_ago_in_words(post.created_at)+" trước" %>
          </div>
          <div class="col-md-3">
            <li class="dropdown pull-right">
               <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
               <ul class="dropdown-menu">
                 <li><a href="<%= post_path(post.id)%>">Chi tiết</a></li>
                 <% if post.bids.count < 1 %>
                 <li><a href="<%= edit_post_path(post.id)%>">Chỉnh sửa</a></li>
                 <% end %>
                 <li><a href="<%= post_my_post_details_path(post) %>">Người đấu giá</a></li>
                 <li><a href="javascript:;"  class="red delete-post" data-toggle="modal" data-target="<%= post.id %>">Xóa</a></li>
               </ul>
             </li>
          </div>

        </div>
      </div>
      <div class="col-md-12 top-20">
        <div class="col-md-8">
          <table class="col-md-12">
            <tr>
              <th class="col-md-8">Điểm đi</th>
              <th class="col-md-4">Thời gian đi</th>
            </tr>
            <tr>
              <td class="col-md-8"><%= post.place_from %></td>
              <td class="col-md-4"><%= post.time_receive.strftime("%d/%m/%Y %R") %></td>
            </tr>
            <tr>
              <th class="col-md-8">Điểm đến</th>
              <th class="col-md-4">Thời gian đến</th>
            </tr>
            <tr>
              <td class="col-md-8"><%= post.place_to%></td>
              <td class="col-md-4"><%= post.time_send.strftime("%d/%m/%Y %R") %></td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <div class="box-price">
            <p>Lượt xem</p>
            <p><%= post.impressionist_count %></p>
          </div>
          <div class="box-price">
            <p>Đấu giá</p>
            <p><%= post.bids.count %></p>
          </div>
          <div class="box-price">
            <p>Giá</p>
            <p><%= number_with_delimiter(post.price) %> vnđ</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
</div>
</section>
