<div class="support-menu fixed-top">
  <div class="container">
    <div class="col-md-8">
      Đăng tin
    </div>
    <!-- <div class="col-md-4">
      <div class="add-post pull-right"><a href="<%= new_post_path %>">Đăng bài</a></div>
    </div> -->
  </div>
</div>
<section class="main-body">
<div class="container">
<div class="col-md-12">
<div class="col-md-12 box">
  <!-- <div class="title"><h3>Đăng tin</h3></div> -->
  <div class="col-md-5">
    <%= form_for @post,url: posts_path, :html => { :multipart => true } do |f| %>
    <div class="form-group">
      <label>Địa điểm đi *</label>
      <%= f.text_field :place_from, required: true, class: "form-control", placeholder: "Địa điểm đi", id: "txtSource"%>
      <%= f.error_message_on :place_from %>
    </div>
    <div class="form-group">
      <label>Địa điểm đến *</label>
      <%= f.text_field :place_to, required: true, class: "form-control", placeholder: "Địa điểm đến" , id: "txtDestination"%>
      <%= f.error_message_on :place_to %>
    </div>
    <div class="form-group" id="distance">
      <label>Khoảng cách(km) </label>
      <input type="text" class="form-control"  disabled="true">
    </div>
    <div class="form-group" id="price">
      <label>Giá(vnđ) </label>
      <input type="text" class="form-control" name="post[price]" readonly="true">
    </div>
    <div class="form-group">
      <%= f.error_message_on :price %>
      <a class="btn btn-vip col-md-12" onclick="GetRoute()">Tính khoảng cách</a>
    </div>
    <span class="text-support">Khoảng cách và giá sẽ được hiển thị khi bạn "Tính khoảng cách"</span>

</div>

<div class="col-md-5 col-sm-offset-2">
  <div class="form-group">
    <label>Tiêu đề *</label>
    <%= f.text_field :title, required: true, class: "form-control", placeholder: "Tiêu đề" %>
    <%= f.error_message_on :title %>
  </div>
  <div class="form-group date" >
    <label>Nội dung </label>
    <%= f.text_field :content, class: "form-control" ,id: "datepicker",  placeholder: "Nội dung" %>
  </div>
  <div class="form-group">
    <label>Thời gian nhận *</label>
     <div class='input-group '>
        <%= f.text_field :time_receive, required: true, class: "form-control datetimepicker", placeholder: "Thời gian nhận" %>

        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <%= f.error_message_on :time_receive %>
  </div>
  <div class="form-group">
    <label>Thời gian giao *</label>
    <div class='input-group '>
        <%= f.text_field :time_send, required: true, class: "form-control datetimepicker", placeholder: "Thời gian giao" %>

        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <%= f.error_message_on :time_send %>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-vip col-md-12">Đăng tin</button>
  </div>

</div>
<% end %>
  </div>
<div class="col-md-12 box" style="margin-top: 20px;">
  <div class="col-md-6" id="dvMap" style="height: 500px;" onload="initialize();"></div>
  <div class="col-md-6" id="dvPanel" style="height: 500px; overflow: auto;"></div>
</div>
<div id="dvDistance">
</div>
</div>
</div>
</section>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw_byJaxgnV2ZAhS8cF8OOSdV2UGA2mkA&libraries=places&sensor=false&language=vi"></script></script>
<script type="text/javascript">

  var source, destination;
  var directionsDisplay;
  var directionsService = new google.maps.DirectionsService();
  var danang = new google.maps.LatLng(16.062394, 108.178858);
  var mapOptions = {
      zoom: 15,
      center: danang
  };
  google.maps.event.addDomListener(window, 'load', function () {
      new google.maps.places.SearchBox(document.getElementById('txtSource'));
      new google.maps.places.SearchBox(document.getElementById('txtDestination'));
      new google.maps.Map(document.getElementById('dvMap'), mapOptions);
      directionsDisplay = new google.maps.DirectionsRenderer({ 'draggable': true });


  });
  function GetRoute() {
      var danang = new google.maps.LatLng(16.062394, 108.178858);
      var mapOptions = {
          zoom: 15,
          center: danang
      };
      map = new google.maps.Map(document.getElementById('dvMap'), mapOptions);
      directionsDisplay.setMap(map);
      directionsDisplay.setPanel(document.getElementById('dvPanel'));

      //*********DIRECTIONS AND ROUTE**********************//
      source = document.getElementById("txtSource").value;
      destination = document.getElementById("txtDestination").value;

      var request = {
          origin: source,
          destination: destination,
          optimizeWaypoints: false,
          travelMode: google.maps.TravelMode.DRIVING,
          provideRouteAlternatives: true,
          avoidHighways: false,
          avoidTolls: false
      };
      directionsService.route(request, function (response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
              directionsDisplay.setDirections(response);
              console.log(response);
              var route_options = [];

              for (var i = 0; i < response.routes.length; i++)
              {
                  var route = response.routes[i];
                  var distance = 0;

                  // Total the legs to find the overall journey distance for each route option
                  for (var j = 0; j < route.legs.length; j++)
                  {
                      distance += route.legs[j].distance.value; // metres
                  }

                  route_options.push({
                      'route_id': i,
                      'distance': distance
                  });
              }

              /*
              route_options = [
                  {route_id:0, distance:35125},
                  {route_id:1, distance:22918},
                  {route_id:2, distance:20561}
              ];
              */

              // Sort the route options; shortest to longest distance in ascending order
              route_options.sort(function(a, b) {
                  return parseInt(a.distance) - parseInt(b.distance);
              });

              /*
              route_options = [
                  {route_id:2, distance:20561},
                  {route_id:1, distance:22918},
                  {route_id:0, distance:35125}
              ];
              */

              var shortest_distance = (route_options[0]['distance']); // convert metres
          }
          console.log(shortest_distance);
          $.ajax({
            url: "/calculate_price",
            type: "post",
            data: {
              distance: shortest_distance
            },
            success: function(res){
              console.log(res.data);
              $('#distance').html('<label>Khoảng cách(km)</label><input type="text" class="form-control" id="distance" disabled="true" value="'+res.data.distance+'">');
              $('#price').html('<label>Giá(vnđ)</label><input type="text" class="form-control" name="post[price]" readonly="true" value="'+res.data.price+'">');
            }

          });
      });

      //*********DISTANCE AND DURATION**********************//
      // var service = new google.maps.DistanceMatrixService();
      // service.getDistanceMatrix({
      //     origins: [source],
      //     destinations: [destination],
      //     travelMode: google.maps.TravelMode.DRIVING,
      //     unitSystem: google.maps.UnitSystem.METRIC,
      //     avoidHighways: false,
      //     avoidTolls: false
      // }, function (response, status) {
      //     if (status == google.maps.DistanceMatrixStatus.OK && response.status != "ZERO_RESULTS") {
      //         var distance = response.rows[0].elements[0].distance.value;
      //         var duration = response.rows[0].elements[0].duration.text;
      //         var dvDistance = document.getElementById("dvDistance");
      //         dvDistance.innerHTML = "";
      //         dvDistance.innerHTML += "Distance: " + distance + "<br />";
      //         dvDistance.innerHTML += "Duration:" + duration;
      //         // var num = response.routes.length;
      //
      //         // console.log(response.rows[1]);
      //
      //
      //     } else {
      //         alert("Unable to find the distance via road.");
      //     }
      // });

}

</script>
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw_byJaxgnV2ZAhS8cF8OOSdV2UGA2mkA&language=vi&callback=initMap"></script></script> -->
