<div class="support-menu fixed-top">
  <div class="container">
    <div class="col-md-8">
      Chi tiết bài đăng <span class="glyphicon glyphicon-chevron-right"></span> <%= @post.title %>
    </div>
    <div class="col-md-4">
      <div class="add-post pull-right"><a href="<%= new_post_path %>">Đăng bài</a></div>
    </div>
  </div>
</div>
<section class="main-body">
<div class="container">
<div class="col-md-12 box border-botttom-gray">
    <div class="col-md-12">
      <div class="col-md-10 border-botttom-gray">
        <h4 class="blue-show"><%= @post.title %></h4>
      </div>
      <div class="col-md-2 border-botttom-gray ">
      <h4 class="blue-show pull-right"> <%=   number_with_delimiter(@post.price) %> vnđ</h4>
      </div>
      <div class="col-md-12">
        <span class="gray-show"><%= @post.content %></span>
      </div>
    </div>
    <div class="col-md-12 top-20">
        <div class="col-md-2 gray-show">Điểm đi:</div>
        <div class="col-md-6 blue-show"><%= @post.place_from %></div>
        <div class="col-md-2 gray-show">Thời gian nhận:</div>
        <div class="col-md-2 blue-show"><%= @post.time_receive.strftime("%d/%m/%Y %R") %></div>

        <div class="col-md-2 gray-show">Điểm đến:</div>
        <div class="col-md-6 blue-show"><%= @post.place_to%></div>
        <div class="col-md-2 gray-show">Thời gian giao:</div>
        <div class="col-md-2 blue-show"><%= @post.time_send.strftime("%d/%m/%Y %R") %></div>
  </div>
</div>
<div class="col-md-12 post-item border-botttom-gray">
  <div class="col-md-6" id="dvMap" style="height: 500px;" onload="initialize();"></div>
  <div class="col-md-6" id="dvPanel" style="height: 500px; overflow: auto;"></div>
</div>
</div>
</section>
<script type="text/javascript">
function initMap() {
     var origin = "<%= @post.place_from %>";
     var destination = "<%= @post.place_to %>";
     var directionsDisplay;
      directionsDisplay = new google.maps.DirectionsRenderer();
      map = new google.maps.Map(document.getElementById('dvMap'));
      directionsDisplay.setMap(map);
      directionsDisplay.setPanel(document.getElementById('dvPanel'));
       var request = {
           origin: origin,
           destination: destination,
           optimizeWaypoints: false,
           travelMode: google.maps.TravelMode.DRIVING,
           provideRouteAlternatives: true

       };
       var directionsService = new google.maps.DirectionsService();
       directionsService.route(request, function (response, status) {
           if (status == google.maps.DirectionsStatus.OK) {
               directionsDisplay.setDirections(response);
           }
       });

}
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw_byJaxgnV2ZAhS8cF8OOSdV2UGA2mkA&language=vi&callback=initMap"></script></script>
