html,body {
 height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height:1.2em;
  line-height:20px;
  background-color: #f2f3f8;
  display: block;
  font-size: 15px;

}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNOAHFN6BivSraYkjhveRHY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
.main-body {
  margin-top: 10px;
  padding-bottom: 100px;
  width: 100%;
  position: relative;
}
a {
  color: #69aa6f;
  text-decoration: none;
}
a:focus, a:hover {
  color: #23527c;
  text-decoration: none;
  outline: none;
}
a:active, a:hover {
  outline: 0;
}
/*a {
   color:#181A1C;
   text-decoration: none;
}
a:hover {
   color: #FECE1A;
   text-decoration:none;
}*/
h1, h2, h3, h4, h5, h6 {
   font-weight: normal;
   color: #000;

}
h1 {
   margin: 10px;
}
p {
   padding: 10px;
   font-weight: 100;
   color: #fff;
}
.top-20 {
  margin-top: 20px;
}
.box {
  background-color: #FFF;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 20px 20px;
}
.box .title > h3 {
  color: #000;
  text-align: center;

}
.box .title {
  border-bottom: 3px solid #f2f3f8;
}
.box-second {
  margin-top: 20px;
}

.btn-vip {
  background-color: #46b7b1;
  color: #fff;
}
.btn-vip:hover {
  color: #fff;
}
.navbar {
   background: #181A1C;
   margin-bottom:0;
   min-height:70px;

}

.navbar-fixed-top {
   min-height:60px;

   padding-top:0;
}
.navbar .brand img {
   width:120px;
   height:40px;
}
.navbar .nav > li > a {

   text-transform:uppercase;
   line-height: auto;
   vertical-align: middle;
   margin:10px 2px;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   border: 1px solid #181A1C;
   box-shadow: none;
   font-size:15px;
   text-shadow: none;
   color: #fff;
   transition: border-color 1s ease;
   padding-top: 10px;
   padding-bottom: 10px;
}
.navbar .glyphicon {
  margin-right: 10px;
}
.navbar .glyphicon-bell {
  margin-right: 0px !important;
}
.navbar .nav > li:hover> a, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
   border: 1px solid #FECE1A !important;
   color: #fff;
   background-color: #181A1C;

}
.nav>li>a:focus{
    background-color: #181A1C !important;
}
/*.nav-pills > li > a:hover, .nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
   background: #181A1C;
   color: #fff;
}*/
.navbar .btn-navbar:hover, .navbar .btn-navbar {
   border-radius:0;
   background:#FECE1A;
   color: #000;
}
.avatar-menu img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.avatar-menu {
  margin: 5px 0px !important;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}
.dropdown:hover a{
  border: none !important;
}
.notification a span#view-notification{
  position: absolute;
  top: 2px;
  left: 30px;
  color: #FECE1A !important;
}

.notification a span{
  color: #f2f3f8 !important;
}
.notification:hover a {
  border: none !important;
}
.notification:hover a span{
  color: #FECE1A !important;
}

@media (min-width: 768px){
  .modal-login {
    width: 400px;
  }
  .modal-edit {
    width: 300px;
  }
  .modal-notification {
    width: 800px;

  }
}
.modal-notification .notification-scroll {
  margin-top: 20px;
  height: 450px;
  overflow: auto;
}
.modal-notification table tr td{
  padding: 10px!important;

}
.modal-notification table tr {
  border-top: 1px solid #f0f0f0;
}

.modal-header {
  border-bottom: 0
}
.modal h3{
  color: #000;
}
.modal .alert {
  font-size: 14px;
  text-align: center;
}
.table>tbody>tr>td .modal {
  line-height: 20px;
}
.btn-login {
  padding: 8px 20px;
  width: 100%;
  font-size: 15px;
  background:  #FECE1A;
  border: none;
}
.modal-edit .btn-login{
  padding: 0px 20px;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
}
.social-btns .social-login {
  display: inline-block;
  margin: 0 auto;
}

.header-login {
  padding: 10px;
  width: 100%;
  position: relative;
}
.form-box-inner {
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px 40px 40px;
}
.title {
  font-weight: 300;
  margin-bottom: 60px;
  margin-top: 0;
}
.title {
  margin-bottom: 45px;
}
.forgot-password {
  font-size: 13px;
  margin-top: 10px;
}
.forgot-password a {
  color: #999;
}
.forgot-password a:hover {
  text-decoration: underline;
  color: #ec6952;
}
.form-control {
  font-size: 16px;
  padding-left: 20px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}

.btn-main {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #fff;
  border: 1px solid #4aaf4e;
  text-align: center;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 17px;
  color: #4aaf4e !important;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.btn-main:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4aaf4e;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn-main:hover, .btn-main:focus, .btn-main:active {
  color: white !important;
}
.btn-main:hover:before, .btn-main:focus:before, .btn-main:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.lead {
  font-size: 13px;
  color: #999;
  margin-top: 30px;
  text-align: center;
}
.btn-signup {
  display: block;
  width: 100%;
  padding: 8px 15px;
  border: 1px solid #4aaf4e;
  color: #4aaf4e !important;
}

.btn-signup:before {
  background: #4aaf4e;
}

.service {
   width: 100%;
   min-height: 700px;
   background:    linear-gradient(
         rgba(0, 0, 0, 0.8),
         rgba(0, 0, 0, 0.8)
       ) ,
       url(../../assets/article.jpg) no-repeat center;

}
.service .title {
  margin-top: 100px;
  text-align: center;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.service .title > h1, h3 {
  color: #FECE1A;
}

.service img {
    width:150px;
    height:150px;
}
.service .centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
  text-align: center;
}
.circle-border {
    display: inline-block;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    -khtml-border-radius: 500px;
    border: 3px solid #fff;
}
.zoom-in {
   -webkit-transform: scale(1, 1);
   -moz-transform: scale(1, 1);
   -o-transform: scale(1, 1);
   -ms-transform: scale(1, 1);
   -webkit-transition: all 250ms ease;
   -moz-transition: all 250ms ease;
   -o-transition: all 250ms ease;
   -ms-transition: all 250ms ease;
   transition: all 250ms ease;
}
.zoom-in:hover {
   -webkit-transform: scale(1.1, 1.1);
   -moz-transform: scale(1.1, 1.1);
   -o-transform: scale(1.1, 1.1);
   -ms-transform: scale(1.1, 1.1);
}
.service .row-fluid{
  margin-top: 50px;
}

.rule {
   width: 100%;
   min-height: 700px;
   background: #FECE1A;
  /*border-top: 10px solid #FECE1A;*/
}
.rule .title {
    margin-top: 100px;
    text-align: center;
    color: #181A1C;
    border-bottom: 1px solid #181A1C;
  }
.rule .title > p {
    color: #181A1C;
  }
.rule .testimonial{
  background-color: #1a2732;
  min-height: 330px;
  padding: 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.rule .title-item {
  background-color: #181A1C;
  height: 60px;
  text-align: center;
  border-top-right-radius:  10px;
  border-top-left-radius:  10px;
  padding: 5px
}
.rule .testimonial > p {
  border-bottom: 1px solid rgb(255, 255, 255);
}
.rule .testimonial > p:last-child {
  border-bottom: none;
}

.contact {
  width: 100%;
  min-height: 600px;
  background-color: #181A1C;
}
.contact .title {
  margin-top: 100px;
  text-align: center;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.contact .title > h1, h3 {
  color: #FECE1A;
}

.contact .contact-detail  span {
   color: #FECE1A;
}
.footer {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #181A1C;
  border-top: 1px solid #FECE1A;
  padding: 10px;
  color: #69aa6f;
}
.contact #contact-map {
  height: 300px;
  padding: 20px;
}
.datepicker{
  padding: 20px !important;
}

/*View*/
.show-profile {
  margin-bottom: 20px;
}
.show-profile  th, .show-profile td {
  border-bottom: 1px solid #dbe8f6;
  line-height: 40px;
}
.show-profile tr:last-child th, .show-profile tr:last-child td{
  border-bottom: none;
}
table>tbody>tr>td {
  line-height: 25px;
}
.text-support {
  font-size: 13px;
  color: #999;
  padding-top: 20px;
}
.post-item {
  background-color: #FFF;
  border-bottom: 2px solid #f2f3f8;
  padding: 20px;
}
.post-item:first-child {
  margin-top: 30px;
}
.post-item .nav li a {
  color: #4a90e2;
}
.post-item .nav li a:focus {
  background-color: #f2f3f8 !important;
}
.post-item h4 a{
  color: #4a90e2;
}
.post-item h4 a:hover{
  color: #E57D32;
}
/*.post-item th{
  border-bottom: none !important;
}*/
.box-price {
  background-color: #f2f3f8;
  padding: 20px 0;
  width: 95px;
  height: 95px;
  float: left;
  margin-left: 5px;
  text-align: center;

}
.box-price p{
  margin: 0;
  padding: 2px;
  color: #4a90e2;
  font-size: 15px;
}
.blue-show {
  color: #46b7b1 !important;
}
.gray-show {
  color: #999;
}
.border-botttom-gray {
  padding-bottom: 10px;
  border-bottom: 1px solid #dbe8f6;
  margin-bottom: 10px;
}
/*.page-loader {
  position: fixed;
  background: #fff;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9998;
  opacity: 1;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
}
.loader:before, .loader:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}
.loader:before {
  animation: before 2s infinite;
}
.loader:after {
  animation: after 2s infinite;
}

@keyframes before {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
  }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
  }
  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
}
@keyframes after {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
  }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
  }
  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
}

.loader {
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
}*/
.alertify-notifier .ajs-message {
  border-radius: 10px !important;
  text-align: center;
}
.no-post {
  background-color: #FFF;
  margin-top: 50px;
  padding: 30px 30px;
  text-align: center;
}

.date-post {
  color: #999;
  padding: 0px 10px;
  text-align: right;
  /*margin-top: 10px;*/
}
.own-post {
  color: #999;
  padding: 0px 10px;
  text-align: right;
  margin-top: 10px;
}

.box-sp {
  margin-top: 80px;
  padding: 30px 30px;
}
.bid-item {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #fff;
}
/*.bid-item table tr{
  height: 60px !important;
}*/
/*.bid-item .box-price {
  width: 102px !important;
}*/
.menu-post {
  margin-top: 80px;
  margin-bottom: 20px;
}
.menu-post a {
  color: #4a90e2;
  font-size: 15px;
}
.menu-post .nav-tabs {
  border-bottom: 1px solid #ddd;
}
.menu-post .nav li a:focus {
  background-color: #f2f3f8 !important;
}
/*.menu-post .nav li.add-post{
  background: #E57D32;
  color: #fff !important;
}
.menu-post .nav li.add-post a{
  color: #fff !important;
}
.menu-post .nav li.add-post a:hover{
  background: #E57D32;
}
.menu-post .nav li.add-post a:focus {
  background: #E57D32 !important;
}*/
.add-post > a{
  background: #46b7b1;
  border: 2px solid #fff;
  padding: 10px 25px;
  border-radius: 30px;
  color: #fff;
}
.add-post > a:hover {
  border: 2px solid #fff;
  color: #fff;
}
.red {
  color: red !important;
}
.orange {
  color: #E57D32 !important;
}
.blue01 {
  color: #46b7b1;
}
.blue02 {
  color: #4a90e2;
}
.btm-10 {
  margin-bottom: 10px;
}
.choose-shipper {
  color: #4a90e2;
}
.choose-shipper:hover{
  color: #4a90e2;
}
.user-bid {
  width: 100%;
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px 10px;
  height: 120px;
  color: #293541;
}
.user-bid .bid-avatar {
  line-height: 100px;
  border-right: 1px solid #f2f3f8;
  width: 120px;
}

.user-bid .bid-avatar img{
  width: 80px;
  height: 80px;

}
.user-bid .bid-action {
  margin-top: 20px;
}
.user-bid .bid-action a{
  margin-top: 5px;
}
a:hover {
  color: #e57d32;
}
.bid-info {
  margin-top: 20px;
  text-align: center;
}
.bid-score {
  background-color: #f2f3f8;
  padding: 20px 0;
  width: 45%;
  height: 40px;
  float: left;
  margin-left: 5%;
  text-align: center;
  margin-top: 10px;
  line-height: 2px;
}
/*.search__b {
  display: block;
  width: 50%;
  position: relative;
  padding: 0 0;
}
.search_right {
  max-width: 500px;
  float: right;
  width: 100%;
  position: relative;
}
.input-search {
  width: 50%;
  display: block;
  border: 1px solid #fff;
  background: #fff;
  outline: none;
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  border-radius: 30px;
  color: #808080;
}
span.searchbtn {
  position: absolute;
  right: 0;
  top: 0;
}

.btn-search {
  height: 35px;
  width: 35px;
  border: 1px solid #4a90e2;
  background: #4a90e2;
  color: #fff;
  border-radius: 100%;
  outline: none;
}*/
.input-search {
  border: 1px solid #fff;
  background: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  border-radius: 30px;
  color: #808080;
  outline: none;
}
.btn-search {
  height: 35px;
  width: 35px;
  border: 1px solid #e57d32;
  background: #e57d32;
  color: #fff;
  border-radius: 100%;
  outline: none;
}
.support-menu {
  width: 100%;
  background-color: #46b7b1;
  margin-bottom: 20px;
  padding: 15px 20px;
  color: #fff;
  margin-top: 62px;
  line-height: 30px;
}
.formError {
  color: red;
  font-size: 13px;
}
.review-info {
    margin-top: 10px;
    text-align: left;
}
.review-score {
  padding: 10px 0px;
  float: left;
  text-align: center;
}
.review-own {
  padding: 20px 0;
  line-height: 2px;
}
.review-item {
  height: 130px;
}
.review-comment {
  padding: 10px 0;
}
.num-no {
  position: absolute;
  right: 5px;
  padding: 0 5px;
  background: #e57d32;
  color: #fff;
  font-size: 13px;
  border-radius: 3px;
}
.num-no1 {
  margin-left: 10px;
  padding: 5px 5px;
  background: #e57d32;
  color: #fff;
  font-size: 13px;
  border-radius: 3px;
}
.title-box {
  width: 100%;
  border-bottom: 2px solid #b2b2b7;
}
.report-item {
  margin-top: 30px;
}
.report-comment {
  height: 80px;
}
.warning {
  background-color: #fff;
  color: #000;
  text-align: center;
}
.warning-title {
  padding: 10px 0px;
  height: 80px;
  border-bottom: 2px solid #d7d7da;
  color: #103772 !important;
}
.payment-row {
  border-bottom: 1px solid #d7d7da;
  color: #000;
}
.payment-form {
  padding: 10px 0px;
}
.payment-item {
  margin-top: 30px;
}
