<div class="support-menu fixed-top">
  <div class="container">
    <div class="col-md-8">
      Người dùng
      <span class="glyphicon glyphicon-chevron-right"></span>
      Đánh giá
    </div>
    <div class="col-md-4">
      <div class="add-post pull-right"><a href="<%= new_post_path %>">Đăng bài</a></div>
    </div>
  </div>
</div>
<section class="main-body">
<div class="container">
<div class="col-md-12">
  <% if @reviews.empty? %>
      <div class="col-md-4 alert alert-danger no-post col-sm-offset-4">
      <div>Không có đánh giá nào</div>
      </div>
  <% else %>
  <div class="post_empty">
  </div>
  <%  @reviews.each do |review| %>
    <div class="col-md-6 box-user-bid">
      <div class="user-bid review-item">
        <div class="col-md-3 bid-avatar">
          <span><img src="<%= review.user.profile.avatar.url(:thumb) %>" /></span>
        </div>
        <div class="col-md-9 review-info">
          <div class="col-md-6 review-own">
            <span><a href="#" class="blue01"><%= review.user.profile.name %></a></span>
          </div>
          <div class="reviews col-md-6 review-score ">
            <div id="star-rated" data-score="<%= review.score %>"></div>
          </div>
          <div class="col-md-12 review-comment">
            <span><%= review.comment %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
</div>
</section>
<script>
  $('#star-rated').raty({
    path: "/assets",
    scoreName: "review[score]",
    readOnly: true,
    score: function() {
      return $(this).attr("data-score");
    }
  });
</script>
