<!DOCTYPE html>
<html>
  <head>
    <title>Shiper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top">
    <header>
      <%= render "partils/header" %>
    </header>
    <!-- <% if flash[:errors] %>
    <div class="col-md-2 alert-danger alert pull-right errors" style="text-align: center">
    <%= flash[:errors] %>
    </div>
    <% end %>
    <% if flash[:success] %>
      <div class="alert alert-success col-md-2 pull-right success" style="text-align: center">
      <%= flash[:success] %>
      </div>
    <% end %>
    <div class="col-md-2 pull-right message" style="text-align: center"></div> -->
      <%= yield %>
      <% if alert %>
      <script type="text/javascript">
        window.onload= function(){
          alertify.error('<%= alert %>');
        }
      </script>
      <% end %>
      <% if notice %>
      <script type="text/javascript">
      window.onload= function(){
        alertify.success("<%= notice %>");
      }
      </script>
      <% end %>
      <% if flash[:error] %>
      <script type="text/javascript">
        window.onload= function(){
          alertify.error('<%= flash[:error] %>');
        }
      </script>
      <% end %>
      <% if flash[:success] %>
      <script type="text/javascript">
      window.onload= function(){
        alertify.success("<%= flash[:success] %>");
      }
      </script>
      <% end %>
  </body>
<!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
</html>
