<div class="col-md-12" style="margin-top: 150px;">
  <div class="col-md-4 col-sm-offset-4 warning">
    <div class="warning-title">
      <h3 class="blue-show">Cảnh báo</h3>
    </div>
    <div class="col-md-12">
      <p class="blue-show">Tài khoản của bạn đã bị khóa tạm thời vì lý do bạn đã bị tố cáo
         quá 3 lần. Tài khoản của bạn sẽ được mở sau một tháng kể từ ngày bị khóa.</p>
      <p class="blue-show">Vui lòng liên hệ với chúng tôi.</p>
    </div>
  </div>
</div>
